.square {
    background-color: aqua;
    width: 200px;
    height: 200px;
}

.container {
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: lightblue;
    justify-content: center;

    position: relative;
    /* 並び替え中の高さが0にならないようにする */
    min-height: 500px;
}